<p id="notice"><%= notice %></p>

<p>
<!-- Formateando Libros-->
<% if @source.ref_type == 1 %>
	<% if @source.pub_place.blank?%>
		<%= @source.author %> (<%= @source.pub_date %>). <i><%= @source.title %></i>. <%= @source.edition %>. <%= @source.pub_house %>
	<% else %>
		<%= @source.author %> (<%= @source.pub_date %>). <i><%= @source.title %></i>. <%= @source.edition %>. <%= @source.pub_place %>: <%= @source.pub_house %>
	<% end %>
<!-- Formateando Capítulos de libros-->
<% elsif @source.ref_type == 2 %>	
	<% if @source.pub_place.blank? %>
		<%= @source.author %> (<%= @source.pub_date %>). <%= @source.title2 %>. <i><%= @source.title %></i>. (p <%= @source.pages %>). <%= @source.edition %>. <%= @source.pub_house %>
	<% else %>
		<%= @source.author %> (<%= @source.pub_date %>). <%= @source.title2 %>. <i><%= @source.title %></i>. (p <%= @source.pages %>). <%= @source.edition %>. <%= @source.pub_place %>: <%= @source.pub_house %>	
	<% end %>
<!-- Formateando Tesis-->
<% elsif @source.ref_type == 3 %>	
	<%= @source.author %> (<%= @source.pub_date %>). <i><%= @source.title %></i>. <%= @source.title2 %>. <%= @source.pub_place %>
<!--Formateando Artículos-->
<% elsif @source.ref_type == 4 || @source.ref_type == 5 || @source.ref_type == 6 %>	
	<% if @source.volume.blank? && @source.magazine_num.blank? %>
		<%= @source.author %> (<%= @source.pub_date %>). <%= @source.title %>. <i><%= @source.title2 %></i>. (p <%= @source.pages %>)
	<% elsif @source.volume.blank? == false && @source.magazine_num.blank? == false%>
		<%= @source.author %> (<%= @source.pub_date %>). <%= @source.title %>. <i><%= @source.title2 %></i>. <%= @source.volume %>. <%= @source.magazine_num %>.(p <%= @source.pages %>)	
	<% elsif  @source.volume.blank?  %>
		<%= @source.author %> (<%= @source.pub_date %>). <%= @source.title %>. <i><%= @source.title2 %></i>. <%= @source.magazine_num %>. (p <%= @source.pages %>). 
	<% else %>
		<%= @source.author %> (<%= @source.pub_date %>). <%= @source.title %>. <i><%= @source.title2 %></i>. <%= @source.volume %>. (p <%= @source.pages %>)
	<% end %>	
<!-- Formateando Web-->		
<% else %>	
	<%= @source.author %> (<%= @source.pub_date %>). <i><%= @source.title %></i>. Retrieved <%= @source.ref_date %>. From <%= @source.website %>
<% end %>
</p>

<%= link_to 'Edit', edit_source_path(@source) %> |
<%= link_to 'Back', sources_path %>